<div class="search-input form-group">
    <input class="form-control" type="text" placeholder="{{subtitle}}"  style="font-size: 15px;" [(ngModel)]= "filterargs">
</div>
<div class="d-flex justify-content-center" *ngIf="loading == true">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="list-group padding-top" *ngFor= "let patient of patients | filterPatients: filterargs">
    <div class="row">
        <div class="col-12">
            <button class="list-group-item list-group-item-action" (click)="assign(patient)">{{patient.nombre}} {{patient.apellido}}</button>
        </div>
    </div>
</div>
