<div class="d-flex justify-content-center" *ngIf="loading == true">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="container" *ngIf="loading == false">
    <div class="row">
        <div class="col-10 col-lg-11">
            <p class="h1 text-center">Pacientes</p>
        </div>
        <div class="col-2 col-lg-1">
            <button (click)="goToPatientForm()" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                </svg>            
            </button>
        </div>
    </div>
    <div class="col-10 col-lg-11 search-input">
        <input class="form-control" type="text" placeholder="{{subtitle}}"  style="font-size: 15px;" [(ngModel)]= "filterargs">
    </div>
    <div class="list-group padding-top" *ngFor="let patient of patients | filterPatients: filterargs">
        <div class="row">
            <div class="col-10 col-lg-11">
                <button class="list-group-item list-group-item-action" (click)="goToConsultas(patient._id)">{{patient.nombre}} {{patient.apellido}}</button>
            </div>
            <div class="col-2 col-lg-1">
                <div class="btn-group dropend">
                    <button type="button" class="btn btn-squared" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        </svg>
                    </button>
                    <ul class="dropdown-menu">
                      <li><button type="button" class="btn" (click)="goToEditPatient(patient._id)">Editar</button></li>
                      <li><button type="button" class="btn" (click)="delete(patient._id)">Eliminar</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>