<div>
    <button class="btn btn-primary" (click)="back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
    </button>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="h1 text-center">Historia Clinica - {{patient.nombre}} {{patient.apellido}}</p>
        </div>
    </div>
    <div class="d-flex justify-content-center" *ngIf="loading == true">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <table class="table table-striped overflow-auto">
        <tbody>
            <tr>
                <th scope="col">Fecha de inicio</th>
                <td scope="row">{{medicalHistory.fecha_inicio}}</td>
            </tr>
            <tr>
                <th scope="col">Tiempo estimado de tratamiento</th>
                <td scope="row">{{medicalHistory.tiempo_estimado_tratamiento}}</td>
            </tr>
            <tr>
                <th scope="col">Talla</th>
                <td scope="row">{{medicalHistory.talla}}</td>
            </tr>
            <tr>
                <th scope="col">Peso inicial</th>
                <td scope="row">{{medicalHistory.peso}}</td>
            </tr>
            <tr>
                <th scope="col">Peso ideal</th>
                <td scope="row">{{medicalHistory.peso_ideal}}</td>
            </tr>
            <tr>
                <th scope="col">Descripción</th>
                <td scope="row">{{medicalHistory.descripcion}}</td>
            </tr>
            <tr>
                <th scope="col">Dieta en proceso</th>
                <td scope="row">{{currentDieta.tipo}}</td>
            </tr>
        </tbody>
    </table>
                
    <div class="col-12">
        <div id="card" class="card container overflow-auto" style="white-space:pre-wrap;" *ngIf="medicalHistory.descripcion != ''">
            <p></p>
        </div>
    </div>

    <div class="d-flex flex-row-reverse">
        <div class="col-1 padding">
            <button type="button" class="btn btn-primary" (click)="goToEditForm()">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
            </button>
        </div>
    </div>
    <div class="padding-top">
        <div class="row padding-top">
            <a href="" class="btn btn-secondary btn-lg btn-block">Inbody</a>
        </div>
        <div class="row padding-top">
            <button (click)="goToDieta()" class="btn btn-secondary btn-lg btn-block">Dieta</button>
        </div>
    </div>      
</div>
