<div>
    <button class="btn btn-primary btn-icon" (click)="back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
    </button>
</div>
<p class="h1 text-center">Formulario de dietas</p>

<form action="submit" novalidate #f="ngForm"> 
    <div class="row padding">
        <label for="inp-description">Tipo</label>
        <input type="text" class="form-control" name="tipo" id="inp-tipo" [(ngModel)]="plantillaDieta.tipo" #tipo="ngModel" required
        [ngStyle]="{'border': (tipo.invalid && (tipo.dirty || tipo.touched))? '1px solid red' : ''}" autocomplete="off">
        <div *ngIf="tipo.dirty || tipo.touched" class="alert-div">
            <div *ngIf="tipo.invalid">
                <p *ngIf="tipo.errors?.['required']" class="alert">
                    Completa este campo.
                </p>
            </div>
        </div>
    </div>
    <div class="row padding">
        <label for="inp-description">Descripción</label>
        <angular-editor class="form-control" name="description" id="inp-description" rows="20" [config]="config" [(ngModel)]="plantillaDieta.descripcion" #descripcion="ngModel" required
        [ngStyle]="{'border': (descripcion.invalid && (descripcion.dirty || descripcion.touched))? '1px solid red' : ''}" autocomplete="off"></angular-editor>
        <div *ngIf="descripcion.dirty || descripcion.touched" class="alert-div">
            <div *ngIf="descripcion.invalid">
                <p *ngIf="descripcion.errors?.['required']" class="alert">
                    Completa este campo.
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="d-flex flex-row-reverse padding-top">
                <div class="col-6 col-lg-2 col-xl-1 d-flex justify-content-center">
                    <input type="submit" class="btn btn-primary" (click)="savePlantillaDieta()" value="Guardar" [disabled]="f.invalid">
                </div>
                <div class="col-6 col-lg-2 col-xl-1 d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>
