<div>
    <button class="btn btn-primary btn-icon" (click)="back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
    </button>
</div>
<div class="d-flex justify-content-center" *ngIf="loading == true">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="container padding-top">
    <div class="row">
        <div clas="col-2">
            <p class="h6 padding-top">Filtrar por fecha</p>
            <div class="row padding-top">
            <div class="col-6 col-lg-3">
                <label for="1">Fecha inicio</label>
                <input id="1" type="date" class="form-control" [(ngModel)]="date">
            </div>
            <div class="col-6 col-lg-3">
                <label for="2">Fecha fin</label>
                <input id="2" type="date" class="form-control" [(ngModel)]="date2">
            </div>
            </div>
        </div>
      </div>
    <div class="col-12 padding-top padding-bottom" *ngIf="loading == false">
        <div class="list-group padding-top" *ngFor="let dieta of dietaList | filterByDate: date : date2">
            <div class="row">
                <div class="col-12">
                    <button class="list-group-item list-group-item-action" (click)="goToDieta(dieta._id)">{{dieta.inicio}} - {{dieta.fin}} - {{dieta.tipo}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
