<div>
    <button class="btn btn-primary" (click)="back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
    </button>
</div>
<div class="d-flex justify-content-center" *ngIf="loading == true">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="container" *ngIf="loading == false">
    <div class="row">
        <div class="col-10 col-lg-11">
            <p class="h1 text-center">Pacientes</p>
        </div>
        <div class="col-2 col-lg-1">
            <button class="btn btn-primary" (click)="goToPlantillaDietaForm()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                </svg>            
            </button>
        </div>
    </div>
    <div class="list-group padding-top" *ngFor="let plantillaDieta of plantillaDietaList">
        <div class="row">
            <div class="col-10 col-lg-11">
                <button class="list-group-item list-group-item-action" (click)="goToPlantillaDieta(plantillaDieta._id)">{{plantillaDieta.tipo}}</button>
            </div>
            <div class="col-2 col-lg-1">
                <div class="btn-group dropend">
                    <button type="button" class="btn btn-squared" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        </svg>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="d-flex"><button type="button" class="btn flex-fill" (click)="goToEditPlantillaDieta(plantillaDieta._id)">Editar</button></li>
                        <li class="d-flex"><button type="button" class="btn flex-fill" (click)="delete(plantillaDieta._id)">Eliminar</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
