<form action="submit" ngNativeValidate>
    <div class="container">
        <div class="form-group">
            <div id="search-autocomplete" class="form-outline">
                <label for="patient">Paciente</label>
                <input type="search" id="patient" class="form-control" placeholder="{{subtitle}}" name="paciente" style="font-size: 15px;" [(ngModel)]= "selectedPatient" list="patients">
            </div>
        </div>
        <datalist id="patients">
            <option *ngFor="let patient of patients" value="{{patient.nombre}} {{patient.apellido}}"></option>
        </datalist>   
        <div class="row padding">
            <input type="date" class="form-control" name="date" id="inp-date" [(ngModel)]="appointment.fecha" required>
        </div>
        <div class="row padding">
            <input type="time" class="form-control" name="time" id="inp-time" [(ngModel)]="appointment.hora" required>
        </div>
        <div class="d-flex flex-row-reverse padding-top">
            <div class="col-6 col-lg-2 col-xl-1 d-flex justify-content-center">
                <button type="button" class="btn btn-primary" (click)="request()">Guardar</button>
            </div>
            <div class="col-6 col-lg-2 col-xl-1 d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="Cancelar()">Cancelar</button>
            </div>
        </div>
    </div>
</form>
