<div>
    <button class="btn btn-primary btn-icon" (click)="back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
    </button>
</div>
<p class="h1 text-center">{{patient.nombre}} {{patient.apellido}} - Historia clinica</p>
<form action="submit" novalidate #f="ngForm">
    <div class="container">
        <div class="form-group padding">
            <label for="date">Fecha de inicio:</label>
            <input type="date" class="form-control" name="fecha_inicio" id="date" [(ngModel)]="medicalHistory.fecha_inicio" #date="ngModel"
            [ngStyle]="{'border': (date.invalid || isBefore(date.value)) && (date.dirty || date.touched)? '1px solid red' : ''}" max={{today}} min="1920-01-01" required>
            <div class="alert-div">
                <div *ngIf="isBefore(date.value) && (date.dirty || date.touched)" class="alert-div">
                    <p class="alert">
                        La fecha no puede ser posterior al día de hoy.
                    </p>
                </div>
                <div *ngIf="date.errors?.['required'] && (date.dirty || date.touched)" class="alert-div">
                    <p class="alert">
                        Completa este campo.
                    </p>
                </div>
                <div *ngIf="outOfRange(date.value) && (date.dirty || date.touched)" class="alert-div">
                    <p class="alert">
                        Fecha inválida.
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group padding">
            <label for="inp-altura">Tiempo estimado de tratamiento:</label>
            <input type="text" class="form-control" name="tiempo_estimado" placeholder="meses" pattern="[1-9]{1}[\d]{0,1}" [(ngModel)]="medicalHistory.tiempo_estimado_tratamiento" #tiempo_estimado="ngModel" required
            [ngStyle]="{'border': (tiempo_estimado.invalid && (tiempo_estimado.dirty || tiempo_estimado.touched)) || (minMaxValidation(min, tiempo_estimado.value, max) == false && (tiempo_estimado.dirty || tiempo_estimado.touched))? '1px solid red' : ''}" autocomplete="off">
            <div class="alert-div">
                <div *ngIf="tiempo_estimado.dirty || tiempo_estimado.touched" class="alert-div">
                    <div *ngIf="tiempo_estimado.invalid">
                        <p *ngIf="tiempo_estimado.errors?.['required']" class="alert">
                            Completa este campo.
                        </p>
                        <p *ngIf="tiempo_estimado.errors?.['pattern']" class="alert">
                            Formato incorrecto.
                        </p>
                    </div>
                    <p *ngIf="minMaxValidation(min, tiempo_estimado.value, max) == false && !tiempo_estimado.errors?.['pattern'] && !tiempo_estimado.errors?.['required']" class="alert">
                        El tiempo estimado de tratamiento puede estar entre los 1 y 50 meses.
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group padding">
            <label for="inp-altura">Talla:</label>
            <input type="text" class="form-control" name="talla" placeholder="000cm" pattern="[1-9]{1}[\d]*" [(ngModel)]="medicalHistory.talla" #height="ngModel" required
            [ngStyle]="{'border': (height.invalid && (height.dirty || height.touched)) || (minMaxValidation(minHeight, height.value, maxHeight) == false && (height.dirty || height.touched))? '1px solid red' : ''}" autocomplete="off">
            <div class="alert-div">
                <div *ngIf="height.dirty || height.touched" class="alert-div">
                    <div *ngIf="height.invalid">
                        <p *ngIf="height.errors?.['required']" class="alert">
                            Completa este campo.
                        </p>
                        <p *ngIf="height.errors?.['pattern']" class="alert">
                            Formato incorrecto.
                        </p>
                    </div>
                    <p *ngIf="minMaxValidation(minHeight, height.value, maxHeight) == false && !height.errors?.['pattern'] && !height.errors?.['required']" class="alert">
                        La talla puede estar entre 30 y 250cm.
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group padding">
            <label for="inp-peso">Peso:</label>
            <input type="text" class="form-control" name="peso" placeholder="0.00Kg" pattern="[0]{0,1}[1-9]{1,3}[.]{0,1}[\d]{0,2}" [(ngModel)]="medicalHistory.peso" #weight="ngModel" required
            [ngStyle]="{'border': (weight.invalid && (weight.dirty || weight.touched)) || (minMaxValidation(minWeight, weight.value, maxWeight) == false && (weight.dirty || weight.touched))? '1px solid red' : ''}" autocomplete="off">
            <div class="alert-div">
                <div *ngIf="weight.dirty || weight.touched" class="alert-div">
                    <div *ngIf="weight.invalid">
                        <p *ngIf="weight.errors?.['required']" class="alert">
                            Completa este campo.
                        </p>
                        <p *ngIf="weight.errors?.['pattern']" class="alert">
                            Formato incorrecto.
                        </p>
                    </div>
                    <p *ngIf="minMaxValidation(minWeight, weight.value, maxWeight) == false && !weight.errors?.['pattern'] && !weight.errors?.['required']" class="alert">
                        El peso puede estar entre 0.5 y 400Kg.
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group padding">
            <label for="inp-peso">Peso ideal:</label>
            <input type="text" class="form-control" name="peso_ideal" placeholder="0.00Kg" pattern="[0]{0,1}[1-9]{1,3}[.]{0,1}[\d]{0,2}" [(ngModel)]="medicalHistory.peso_ideal" #ideal_weight="ngModel" required
            [ngStyle]="{'border': (ideal_weight.invalid && (ideal_weight.dirty || ideal_weight.touched)) || (minMaxValidation(minWeight, ideal_weight.value, maxWeight) == false && (ideal_weight.dirty || ideal_weight.touched))? '1px solid red' : ''}" autocomplete="off">
            <div class="alert-div">
                <div *ngIf="ideal_weight.dirty || ideal_weight.touched" class="alert-div">
                    <div *ngIf="ideal_weight.invalid">
                        <p *ngIf="ideal_weight.errors?.['required']" class="alert">
                            Completa este campo.
                        </p>
                        <p *ngIf="ideal_weight.errors?.['pattern']" class="alert">
                            Formato incorrecto.
                        </p>
                    </div>
                    <p *ngIf="minMaxValidation(minWeight, ideal_weight.value, maxWeight) == false && !ideal_weight.errors?.['pattern'] && !ideal_weight.errors?.['required']" class="alert">
                        El peso puede estar entre 0.5 y 400Kg.
                    </p>
                </div>
            </div>
        </div>

        <div class="row form-group padding">
            <label for="inp-description">Descripción</label>
            <div class="col-12">
                <textarea class="form-control" name="description" id="inp-description" rows="20" [(ngModel)]="medicalHistory.descripcion" #descripcion="ngModel" required
                [ngStyle]="{'border': (descripcion.invalid && (descripcion.dirty || descripcion.touched))? '1px solid red' : ''}" autocomplete="off"></textarea>
                <div *ngIf="descripcion.dirty || descripcion.touched" class="alert-div">
                    <div *ngIf="descripcion.invalid">
                        <p *ngIf="descripcion.errors?.['required']" class="alert">
                            Completa este campo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="d-flex flex-row-reverse padding-top">
                <div class="col-6 col-lg-2 col-xl-1 d-flex justify-content-center">
                    <input type="submit" class="btn btn-primary" (click)="editMedicalHistory()" value="Guardar" [disabled]="f.invalid || minMaxValidation(minHeight, height.value, maxHeight) == false ||
                    minMaxValidation(minWeight, weight.value, maxWeight) == false">
                </div>
                <div class="col-6 col-lg-2 col-xl-1 d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>
