<div>
    <button class="btn btn-primary btn-icon" (click)="back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
    </button>
</div>
<form novalidate #f="ngForm">
    <div class="container">
        <div class="row padding">
            <input class="form-control" type="search" name="paciente" id="inp-patient" placeholder="{{subtitle}}"  style="font-size: 15px;" [(ngModel)]= "selectedPatient" ngModel 
            [ngStyle]="{'border': (patient.invalid && (patient.dirty || patient.touched)) || (!nameChecked() && (patient.dirty || patient.touched))? '1px solid red' : ''}" #patient="ngModel" autocomplete="off" required>
                <div class="alert-div">
                    <div *ngIf="patient.invalid && (patient.dirty || patient.touched)" class="alert-div">
                        <p *ngIf="patient.errors?.['required']" class="alert">
                            Completa este campo.
                        </p>
                    </div>
                </div>
                <div class="alert-div">
                <div *ngIf="!nameChecked() && (patient.dirty || patient.touched) && selectedPatient != '' " class="alert-div">
                    <p class="alert">
                        El nombre proporcionado no coincide con un paciente. Seleccione un paciente.
                    </p>
                </div>
            </div> 
            <div class="padding list" *ngIf="this.idPatient == undefined">
                <p>Pacientes:</p>
                <div class="overflow-auto">
                    <div class="list-group padding-top" *ngFor="let patient of patients | filterPatients: selectedPatient">
                        <div class="col-12">
                            <button class="list-group-item list-group-item-action" (click)="select(patient)">{{patient.nombre}} {{patient.apellido}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padding">
            <input type="date" class="form-control" name="date" id="inp-date" [(ngModel)]="appointment.fecha" ngModel [ngStyle]="{'border': date.invalid && (date.dirty || date.touched) || 
            isBefore(date.value) && (date.dirty || date.touched)? '1px solid red' : ''}" 
           #date="ngModel" autocomplete="off" required>
            <div class="alert-div">
                <div *ngIf="date.invalid && (date.dirty || date.touched) || isBefore(date.value) && (date.dirty || date.touched)" class="alert-div">
                    <p *ngIf="date.errors?.['required']" class="alert">
                        Completa este campo.
                    </p>
                    <p *ngIf="isBefore(date.value)" class="alert">
                        La fecha no puede ser anterior al dia de hoy.
                    </p>
                </div>
            </div>
        </div>
        <div class="row padding">
            <input type="time" class="form-control" name="time" id="inp-time" [(ngModel)]="appointment.hora" ngModel [ngStyle]="{'border': time.invalid && (time.dirty || time.touched) || 
            timeIsBefore() && (time.dirty || time.touched)? '1px solid red' : ''}" 
            #time="ngModel" autocomplete="off" required>
             <div class="alert-div">
                 <div *ngIf="time.invalid && (time.dirty || time.touched) || timeIsBefore() && (time.dirty || time.touched)" class="alert-div">
                     <p *ngIf="time.errors?.['required']" class="alert">
                         Completa este campo.
                     </p>
                     <p *ngIf="timeIsBefore() && (time.dirty || time.touched)" class="alert">
                        La hora no puede ser anterior a la hora actual.
                    </p>
                 </div>
             </div>
        </div>
        <div class="d-flex flex-row-reverse padding-top">
            <div class="col-6 col-lg-2 col-xl-1 d-flex justify-content-center">
                <button type="submit"  [disabled]="f.invalid" class="btn btn-primary" (click)="request()" [disabled]="f.invalid || !nameChecked()">Guardar</button>
            </div>
            <div class="col-6 col-lg-2 col-xl-1 d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="Cancelar()">Cancelar</button>
            </div>
        </div>
    </div>
</form>
